# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/
ENV/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python environment files
.python-version

# Build files
build/
dist/
*.egg-info/

# Generated images
*.png

# macOS files
.DS_Store

# Windows thumbnail cache
Thumbs.db